.filters {
  display: flex;
}

.filters > * {
  margin-right: 2rem;
}

.filters-label {
  color: #3481b7;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  z-index: 1000;
  width: max-content;
}

.dropdown-content input[type="checkbox"] {
  accent-color: var(--cherry-dark-pink);
  width: 1rem;
  height: 1rem;
}
