## SQLite files to ignore
**/*.db-shm
**/*.db-wal
**/*.session.sql


**/*.db

web/databases/*.db
web/databases/*.png
web/databases/*.svg

deploy/azure-scripts/synapse-environment-build/*.json
deploy/azure-scripts/synapse-environment-build/*.ipynb

deploy/azure-scripts/synapse-environment-build/.working/*.json
