:root {
  --cherry-purple: #280938;
  --cherry-pink: #e5008a;
  --cherry-dark-pink: #cc047c;
  --cherry-teal: #00dae5;
  --cherry-dark-teal: #00b6bf;
  --cherry-white: #ffffff;
  --cherry-black: #000000;

  --cherry-purple-alpha: rgba(40, 9, 56, 0.1);
  --cherry-pink-alpha: rgba(229, 0, 138, 0.1);
  --cherry-black-alpha: rgba(0, 0, 0, 0.1);

  --navbar-height: 67px; /* 768 and up */
  --sidebar-width: 15rem; /* 768 and up */
}

@media screen and (max-width: 767px) {
  :root {
    --navbar-height: 58.7667px; /* 767px and below */
  }
}

@font-face {
  font-family: "Prelia";
  src: local("Prelia"), url(./fonts/Prelia.otf) format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

h1 {
  font-family: Prelia;
}

body {
  font-family: Nunito;
  background-color: var(--cherry-white);
}

header {
  background-color: var(--cherry-purple);
}

header a {
  color: var(--cherry-white);
}

/* BUTTONS */
.btn {
  transition: all 0.3s ease 0s;
  border-radius: 20px;
}

.btn-primary {
  color: var(--cherry-white);
  background-color: var(--cherry-dark-pink);
  border-color: var(--cherry-dark-pink);
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: var(--cherry-teal);
  border-color: var(--cherry-dark-teal);
}
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--cherry-teal);
  border-color: var(--cherry-dark-teal);
}
.btn-outline-primary {
  color: var(--cherry-dark-pink);
  border-color: var(--cherry-dark-pink);
}
.btn-primary:hover,
.btn-primary:hover div {
  color: var(--cherry-white);
  background-color: var(--cherry-pink);
  border-color: var(--cherry-dark-pink);
  box-shadow: 0px 15px 20px var(--cherry-pink-alpha);
  transform: translateY(-1px);
}
.btn-primary:focus {
  color: var(--cherry-white);
  background-color: var(--cherry-pink);
  border-color: var(--cherry-dark-teal);
}
.btn-outline-primary:hover,
.btn-outline-primary:hover div {
  color: var(--cherry-white);
  background-color: var(--cherry-pink);
  border-color: var(--cherry-dark-pink);
  box-shadow: 0px 15px 20px var(--cherry-pink-alpha);
  transform: translateY(-1px);
}
.btn-outline-primary:disabled {
  color: var(--cherry-white);
  background-color: var(--cherry-pink);
  border-color: var(--cherry-dark-pink);
  box-shadow: 0px 15px 20px var(--cherry-pink-alpha);
  transform: translateY(-1px);
}

.btn-primary:disabled {
  color: var(--cherry-white);
  background-color: var(--cherry-pink);
  border-color: var(--cherry-dark-pink);
}
.input-group .btn {
  border-radius: 0px;
}
.btn-group > .btn {
  min-width: 50px;
}

a {
  color: var(--cherry-purple);
}
a:hover {
  color: var(--cherry-pink);
}

.card-section {
  border: 1px solid var(--cherry-purple-alpha);
  border-radius: 5px;
  box-shadow: 0px 5px 10px var(--cherry-purple-alpha);
  padding: 8px;
}

.clickable-row:hover {
  background-color: var(--cherry-pink-alpha);
}

.clickable-row:active {
  background-color: var(--cherry-pink);
}

.clickable-row.bg-active {
  background-color: var(--cherry-pink);
}

/* archive */

code {
  color: #e01a76;
}

.cursor-pointer {
  cursor: pointer;
}

/* sizing */

.min-w-25 {
  min-width: 25%;
}
.min-w-50 {
  min-width: 50%;
}
.min-w-75 {
  min-width: 75%;
}
.min-w-100 {
  min-width: 100%;
}

/* tooltip */

.cherry-tooltip {
  background-color: var(--cherry-teal);
  border-radius: 20px;
  border-color: var(--cherry-purple);
  padding: 4px 10px 4px 10px;
}
